In [1]:
import altair as alt
import pandas as pd
from dash import Dash, html, dcc, Input, Output

In [2]:
df = pd.read_csv("../data/processed/clean_df.csv")

In [3]:
df = df.copy()
for i, movie in enumerate(df['duration'].str.split()):
    df['duration'][i] = int(movie[0])

/var/folders/gh/xb22d2d96ws59gxrvc0knjdw0000gp/T/ipykernel_19491/4183533263.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['duration'][i] = int(movie[0])

In [70]:
len(df.assign(country=df["country"].str.split(", ")).explode("country").dropna()['country'].unique())

95

In [75]:
min(df['duration'])

12

In [76]:
max(df['duration'])

224

In [4]:
df = df.assign(country=df["country"].str.split(", ")).explode("country").dropna()

In [5]:
df

,Unnamed: 0,show_id,title,director,cast,country,date_added,release_year,rating,duration,listed_in,description,type
1,2,81213894,The Zoya Factor,Abhishek Sharma,"Sonam Kapoor, Dulquer Salmaan, Sanjay Kapoor, ...",India,"November 30, 2019",2019,TV-14,135,"Comedies, Dramas, International Movies",A goofy copywriter unwittingly convinces the I...,Movie
2,3,81082007,Atlantics,Mati Diop,"Mama Sane, Amadou Mbow, Ibrahima Traore, Nicol...",France,"November 29, 2019",2019,TV-14,106,"Dramas, Independent Movies, International Movies","Arranged to marry a rich man, young Ada is cru...",Movie
2,3,81082007,Atlantics,Mati Diop,"Mama Sane, Amadou Mbow, Ibrahima Traore, Nicol...",Senegal,"November 29, 2019",2019,TV-14,106,"Dramas, Independent Movies, International Movies","Arranged to marry a rich man, young Ada is cru...",Movie
2,3,81082007,Atlantics,Mati Diop,"Mama Sane, Amadou Mbow, Ibrahima Traore, Nicol...",Belgium,"November 29, 2019",2019,TV-14,106,"Dramas, Independent Movies, International Movies","Arranged to marry a rich man, young Ada is cru...",Movie
3,5,81172754,Crazy people,Moses Inwang,"Ramsey Nouah, Chigul, Sola Sobowale, Ireti Doy...",Nigeria,"November 29, 2019",2018,TV-14,107,"Comedies, International Movies, Thrillers",Nollywood star Ramsey Nouah learns that someon...,Movie
...,...,...,...,...,...,...,...,...,...,...,...,...,...
3934,5831,70154110,Even the Rain,Icíar Bollaín,"Luis Tosar, Gael García Bernal, Juan Carlos Ad...",France,"May 17, 2011",2010,NR,103,"Dramas, International Movies",While making a film about the incursion of Chr...,Movie
3935,5832,70141644,Mad Ron's Prevues from Hell,Jim Monaco,"Nick Pawlow, Jordu Schell, Jay Kushwara, Micha...",United States,"November 1, 2010",1987,NR,84,"Cult Movies, Horror Movies","This collection cherry-picks trailers, forgott...",Movie
3936,5833,70127998,Splatter,Joe Dante,"Corey Feldman, Tony Todd, Tara Leigh, Erin Way...",United States,"November 18, 2009",2009,TV-14,29,Horror Movies,"After committing suicide, a washed-up rocker r...",Movie
3937,5834,70084180,Just Another Love Story,Ole Bornedal,"Anders W. Berthelsen, Rebecka Hemse, Nikolaj L...",Denmark,"May 5, 2009",2007,NR,104,"Dramas, International Movies",When he causes a car accident that leaves a yo...,Movie
3938,5836,70053412,To and From New York,Sorin Dan Mihalcescu,"Barbara King, Shaana Diya, John Krisiukenas, Y...",United States,"January 1, 2008",2006,NR,81,"Dramas, Independent Movies, Thrillers","While covering a story in New York City, a Sea...",Movie

In [6]:
df.to_csv('../data/processed/sufang_clean_df.csv')

In [51]:
app = Dash(__name__)
server = app.server 

app.layout = html.Div([
        dbc.Label("Year", html_for="range-slider"),
        dcc.RangeSlider(min(df['release_year']), max(df['release_year']), marks=None, value=[1995, 2020],id='year'),
        
        dbc.Label("Duration", html_for="range-slider"),
        dcc.RangeSlider(min(df['duration']), max(df['duration']), marks=None, value=[60, 120],id='duration'),
        html.Iframe(
            id='bar',
            style={'border-width': '0', 'width': '100%', 'height': '400px'})]

@app.callback(
    Output('bar', 'srcDoc'),
    Input('range-slider','value'),
    Input('range-slider','value'))

def plot_altair(year_range, duration_range):
    chart = alt.Chart(df[(df["release_year"] > year_range[0])
                & (df["release_year"] < year_range[1]) 
                & (df["duration"] > duration_range[0])
                & (df["duration"] < duration_range[1])],
        title='Which Country Make the Most Movies ?').mark_bar().encode(
    alt.X('country', sort='y', title='Country'),
    alt.Y('count()', title='Number of Movies Produced')
    ).interactive()
    return chart.to_html()

if __name__ == '__main__':
    app.run_server(debug=True)

SyntaxError: invalid syntax (2623129341.py, line 19)

In [77]:
min(df['release_year'])

1942

In [22]:
alt.Chart(a,title='Which Country Make the Most Movies ?').mark_bar().encode(
    alt.X('country', sort='y', title='Country'),
    alt.Y('count()', title='Number of Movies Produced')
)

alt.Chart(...)